html, body {
  margin: 0;
  padding: 0;
  background: #fafafa;
}

button {
  border: 1px solid #ccc;
  background: white;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background: #f5f5f5;
}
